<launch>
  <node pkg="ros_pcduino" name="follower" type="irobot_follower" output="screen" >
    <param name="paused" type="bool" value="false" />
    <param name="minRange" type="int" value="20" />
    <param name="maxRange" type="int" value="900" />
    <param name="goalZ" type="int" value="500" />
    <param name="margin" type="int" value="20" />
    <param name="minPoints" type="int" value="10000" />
    <param name="maxWeight" type="double" value="3.0" />
    <param name="maxLinear" type="double" value="0.4" />
    <param name="maxAngular" type="double" value="1.5" />
  </node>
</launch>